<%- include('partials/header') -%>
<h1>Compose</h1>
<form class="item" action="/compose" method="post">
    <div class="form-group">
        <label for="postTitle">Title</label>
        <input type="text" class="form-control" name="postTitle" autocomplete="off">
        <label for="postBody">Body</label>
        <textarea name="postBody" class="form-control" rows="5" cols="30" autocomplete="off"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" name="button" >Publish</button>
</form>
<%- include('partials/footer') -%>